/*Start basic code*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*End basic code*/

/*Start body code*/

.header {
  background-image: url('.../images/bg-header-desktop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    background-image: url('.../images/bg-header-mobile.png');
  }
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content > .icon {
  font-family: Trebuchet MS;
  color: #2CBCA1;
  border: 8px solid #2CBCA1;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 130px;
  margin-bottom: 40px;
  animation: top 2s ;
}

.content .text {
  text-align: center;
  animation: opacity 2s;
} 

.content .text h2 {
  margin-bottom: 10px;
  font-weight: 600;
  color: white;
}

.content .text p {
  font-size: 12px;
  color: #ffffffc5;
}

.content .header_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 30px;
}

.content .header_buttons a {
  background-color: #5B73F8;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  position: relative;
  border: transparent 1px solid ;
  font-size: 14px;
  font-weight: bold;
  font-size: 18px;
}

.content .header_buttons a i {
  display: none;
  position: absolute;
}

.content .header_buttons a:hover i {
  display: block;
  bottom: -5px;
  right: 5px;
  transform: rotate(-20deg);
  transition: 0.5s;
  z-index: 9999;
}

.content .header_buttons a:first-child:hover i {
  color: #2CBCA1;
}

.content .header_buttons a:last-child:hover i {
  color: #5B73F8;
}

.content .header_buttons a:first-child {
  background-color: #2CBCA1;
  animation: left 2s;
}

.content .header_buttons a:last-child {
  animation: right 2s;
}

@media (max-width: 768px) {
  .content .header_buttons {
    flex-direction: column;
    width: 100%;
  }
  .content .header_buttons a {
    width: 80%;
    text-align: center;
    padding: 15px 15px;
    border-radius: 25px;
  }
}

.content .header_buttons a:hover {
  background-color: transparent;
  transition: .5s;
}

.content .header_buttons a:first-child:hover {
  border: 1px solid #2CBCA1;
  color: #2CBCA1;
}
.content .header_buttons a:last-child:hover {
  border: 1px solid #5B73F8;
  color: #5B73F8;
}


/*End body code*/

/*Start Animation*/

@keyframes down {
  0% {
    transform: translateY(200px);
  }
  100% {
    
  }
}

@keyframes top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/*End Animation*/
